cobra>=0.5.11
biopython>=1.68
numpy
tqdm
pandas
requests>=2.13.0
bioservices
xmltodict
six
mmtf-python
awesome-slugify
ipywidgets==5.2.2
lxml
json-tricks>3.0
seaborn
matplotlib
beautifulsoup4==4.5.3
nbsphinx