numpy
pandas
tqdm
six
requests>=2.13.0
cobra>=0.5.11
biopython>=1.69
bioservices
xmltodict
mmtf-python
awesome-slugify
ipywidgets==5.2.2
lxml
json-tricks>3.0
seaborn
matplotlib
beautifulsoup4==4.5.3
nbsphinx
bcbio-gff