numpy
pandas
tqdm
six
requests>=2.13.0
cobra>=0.6.1
biopython>=1.69
bioservices
xmltodict
mmtf-python
msgpack-python
awesome-slugify
ipywidgets==7.0.0
lxml
json-tricks>3.0
seaborn
matplotlib
beautifulsoup4==4.5.3
nbsphinx
bcbio-gff
biopandas
more_itertools
bcbio-gff
scipy
pytest
deprecation
networkx