&general
  {% for opt in gen_options -%}
  {{ opt }}, 
  {%- endfor  %}
  startframe={{ start_frame }},
  endframe={{ end_frame }},
/
{%- if gb_options %}
&gb
  {% for opt in gb_options -%}
  {{ opt }}, 
  {%- endfor  %}
/
{%- endif -%}
{%- if pb_options %}
&pb
  {% for opt in pb_options -%}
  {{ opt }}, 
  {%- endfor  %}
/
{%- endif -%}
